@import './reset.scss';

.App-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 100px 0 0 0;
  font-size: 38px;
  color: white;
}
.sheepNumber {
  margin: 30px;
}
.App-farm {
  list-style: none;
  margin: 70px 17% 0 17%;
  display: flex;
  flex-wrap: wrap;
  @media all and (max-width: 780px) {
    margin: 70px 5% 0 5%;
  }
}
.form__btn {
  width: 185px;
  height: 50px;
  font-size: 20px;
  background-color: pink;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 20px;
  @media all and (max-width: 780px) {
    width: 135px;
    height: 40px;
    font-size: 15px;
    margin: 0 10px;
  }
}
.resetBtn {
  background-color: yellow;
}
.sheepGif {
  width: 180px;
  @media all and (max-width: 780px) {
    width: 140px;
  }
}
.copy {
  margin: 10px 0;
  font-weight: normal;
  font-size: 16px;
  color: black;
  padding: 10px;
}
.fa-paw {
  color: fuchsia;
}
