* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*   ::-webkit-scrollbar {
    display: none;
  } */
  &:focus {
    outline: none;
  }
}
a {
  text-decoration: none;
}
